<div class="container">
    <div class="page-header">
        <h1>Sign Up!</h1>
        <p>Our service is fun and awesome, but you must be 13 years old to join.</p>
    </div>
    <form name="signUpForm" id="submit" ng-model="user" class="form-horizontal" novalidate>
        <div class="form-group">
            <label for="emailInp" class="col-sm-5 control-label">Email:</label>
            <div class="col-sm-7">
                <input type="email" class="form-control fixed-width fixed-width" name="emailInp" id="emailInp" placeholder="Email" ng-model="user.email" required/>
            </div>

            <p class="validation-error" id="emailValidAlert" ng-if="signUpForm.emailInp.$touched && signUpForm.emailInp.$error.email">Please enter a valid e-mail</p>
            <p class="validation-error" id="emailReqdAlert" ng-if="signUpForm.emailInp.$touched && signUpForm.emailInp.$error.required">Please enter an e-mail</p>
        </div>

        <div class="form-group">
            <label for="fname" class="col-sm-5 control-label">First Name:</label>
            <div class="col-sm-7">
                <input type="text" class="form-control fixed-width fixed-width" id="fname" placeholder="First Name" ng-model="user.fname"/>
            </div>
        </div>

        <div class="form-group">
            <label for="lname" class="col-sm-5 control-label">Last Name:</label>
            <div class="col-sm-7">
                <input type="text" class="form-control fixed-width fixed-width" name="lname" id="lname" placeholder="Last Name" ng-model="user.lname" required/>
            </div>
        </div>

        <div class="form-group">
            <label for="birthdate" class="col-sm-5 control-label">Birthdate:</label>
            <div class="col-sm-7">
                <input ng-model="user.dob" name="dob" type="text" class="form-control fixed-width" id="birthdate" placeholder="Birthdate"
                       required check-birthdate/>
            </div>

            <p class="validation-error" ng-if="signUpForm.dob.$touched && signUpForm.dob.$error.required" id="dobReqAlert">
                Please enter your date of birth.
            </p>

            <p class="validation-error" ng-if="signUpForm.dob.$dirty && signUpForm.dob.$error.checkBirthdate" id="dobValidAlert">
                Sorry! You're not old enough. Please come back when you're at least 13 years old.
            </p>             
        </div>

        <div class="form-group">
            <label for="password" class="col-sm-5 control-label">Password:</label>
            <div class="col-sm-7">
                <input type="password" class="form-control fixed-width" name="password" id="password" placeholder="Password" ng-model="user.password" required/>
            </div>

            <p class="validation-error" ng-if="signUpForm.password.$touched && signUpForm.password.$error.required">
                Please enter a password.
            </p>
        </div>

        <div id="form-group">
            <label for="cPassword" class="col-sm-5 control-label">Confirm Password:</label>
            <div class="col-sm-7">
                <input type="password" class="form-control fixed-width" name="cPassword" id="cPassword" placeholder="Confirm Password" ng-model="user.cPassword" required/>
            </div>

            <p class="validation-error" ng-if="signUpForm.cPassword.$touched && signUpForm.cPassword.$error.required">
                Please confirm your password.
            </p>
            <p class="validation-error" ng-if="signUpForm.cPassword.$touched && signUpForm.cPassword != signUpForm.password">
                Your passwords must match! Please re-enter your password.
            </p>
        </div>

        <div class="form-group button-group">
            <button type="reset" class="btn btn-default">Reset</button>
            <button type="submit" class="btn btn-primary" ng-disabled="signUpForm.$invalid">Sign Me Up!</button>
        </div>

    </form>
</div>