<div class="container">
    <div class="page-header text-center">
        <h1>Sign Up!</h1>
        <p>Our service is fun and awesome, but you must be 13 years old to join.</p>
    </div>

    <p id='successAlert' class="alert alert-success" ng-show="loginSuccess">Welcome. You have successfully signed in.</p>
    <form name="signUpForm" id="submit" ng-model="user" class="form-horizontal" novalidate>
        <div class="form-group">
            <label for="emailInp" class="col-sm-5 control-label">Email:</label>
            <div class="col-sm-7">
                <input type="email" class="form-control fixed-width fixed-width" name="emailInp" id="emailInp" placeholder="Email" ng-model="user.email" required/>
            </div>

            <p class="validation-error" id="emailValidAlert" ng-if="signUpForm.emailInp.$dirty && signUpForm.emailInp.$error.email && !signUpForm.emailInp.$error.required">Please enter a valid e-mail</p>
            <p class="validation-error" id="emailReqAlert" ng-if="signUpForm.emailInp.$dirty && signUpForm.emailInp.$error.required">Please enter an e-mail</p>
        </div>

        <div class="form-group">
            <label for="fname" class="col-sm-5 control-label">First Name:</label>
            <div class="col-sm-7">
                <input type="text" class="form-control fixed-width fixed-width" id="fname" placeholder="First Name" ng-model="user.fname"/>
            </div>
        </div>

        <div class="form-group">
            <label for="lname" class="col-sm-5 control-label">Last Name:</label>
            <div class="col-sm-7">
                <input type="text" class="form-control fixed-width fixed-width" name="lname" id="lname" placeholder="Last Name" ng-model="user.lname" required/>
            </div>
            <p class="validation-error" ng-if="signUpForm.lname.$dirty && signUpForm.lname.$error.required" id="lastNameAlert">
                Last name is required.
            </p>
        </div>

        <div class="form-group">
            <label for="birthdate" class="col-sm-5 control-label">Date of Birth:</label>
            <div class="col-sm-7">
                <input ng-model="user.dob" name="dob" type="text" class="form-control fixed-width" id="birthdate" placeholder="Birthdate"
                       required 
                       check-birthdate
                       pattern="^(\d{2}\/){2}(\d{2}|\d{4})$"
                />
            </div>

            <p 
                class="validation-error" 
                ng-if="signUpForm.dob.$dirty && signUpForm.dob.$error.required" 
                id="dobReqAlert">
                Please enter your date of birth.
            </p>

            <p 
                class="validation-error" 
                ng-if="signUpForm.dob.$dirty && signUpForm.dob.$error.checkBirthdate && !signUpForm.dob.$error.required" 
                id="dobYoungAlert"
            >
                Sorry! You're not old enough. Please come back when you're at least 13 years old.
            </p>

            <p 
                class="validation-error" 
                ng-if="signUpForm.dob.$dirty && signUpForm.dob.$error.pattern" 
                id="dobValidAlert"
            >
                Date of birth must be MM/DD/YYYY or MM/DD/YY
            </p>
        </div>

        <div class="form-group">
            <label for="password" class="col-sm-5 control-label">Password:</label>
            <div class="col-sm-7">
                <input 
                    type="password" 
                    class="form-control fixed-width" 
                    name="password" 
                    id="password"
                    placeholder="Password" 
                    ng-model="user.password" 
                    ng-change="checkPasswordStrength()"
                    required
                />

                <div 
                    class="progress" 
                    id="passwordStrength"
                    ng-show="signUpForm.password.$dirty"
                >
                    <div class="progress-bar" role="progressbar" aria-valuenow="{{strength}}" aria-valuemin="0" aria-valuemax="100" style="width: {{strength}}%"></div>
                </div>
            </div>

            <p id="passwordReqError" class="validation-error" ng-if="signUpForm.password.$dirty && signUpForm.password.$error.required">
                Please enter a password.
            </p>

            
        </div>

        <div id="form-group">
            <label for="cPassword" class="col-sm-5 control-label">Confirm Password:</label>
            <div class="col-sm-7">
                <input type="password" class="form-control fixed-width" name="cPassword" id="cPassword"
                       placeholder="Confirm Password" ng-model="user.cPassword" is-matching="user.password" required/>
            </div>

            <p id="cPasswordReqError" class="validation-error" ng-if="signUpForm.cPassword.$dirty && signUpForm.cPassword.$error.required">
                Please confirm your password.
            </p>
            <p id="passwordMatchError" class="validation-error" ng-if="signUpForm.cPassword.$dirty && signUpForm.cPassword.$error.isMatching
                && !signUpForm.cPassword.$error.required">
                Your passwords must match! Please re-enter your password.
            </p>
        </div>

        <div class="form-group button-group">
            <button type="reset" class="btn btn-default" ng-click="reset()">Reset</button>
            <button type="submit" class="btn btn-primary" ng-disabled="signUpForm.$invalid" ng-click="signup()">Sign Me Up!</button>
        </div>
    </form>
</div>
