@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Just+Another+Hand);

body {
    font-family: "Open Sans", Helvetica, sans-serif;
    font-size: 16px;
    color: #193441;
    background-color: #FCFFF5;
    font-weight: 300;
}

.header {
    background-color: #3e606F;
    color: #FCFFF5;
    padding-top: 8em;
    padding-bottom: 8em;
    /*border-bottom-left-radius: 50%;*/
    /*border-bottom-right-radius: 50%;*/
}

.body-start {
    padding-top: 70px;
}

h1, h2, h3 {
    font-weight: 300;
}

.title {
    font-family: "Just Another Hand";
    font-size: 80px;
}

.navbar-brand {
    font-weight: 300;
}

.follow-trail {
    width: 10em;
    height: 10em;
    border-radius: 50%;
    color: #FCFFF5;
    background-color: #3E606F;
    /*-webkit-transition: all 0.5s ease;*/
    /*-moz-transition: all 0.5s ease;*/
    /*-o-transition: all 0.5s ease;*/
}

.follow-trail:hover {
    background-color: #91AA9D;
    /*width: 12em;*/
    /*height: 12em;*/
}

.fa-circle-thin:hover {
    color: #91AA9D;
}

@media (max-width: 760px) {
    .header {
        padding-top: 5em;
        padding-bottom: 5em;
    }
}
