@import url(https://fonts.googleapis.com/css?family=Just+Another+Hand);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif);

body {
    font-family: "Open Sans", Helvetica, sans-serif;
    font-size: 16px;
    color: #193441;
    background-color: #FCFFF5;
    font-weight: 300;
}

.header {
    background-color: #3e606F;
    color: #FCFFF5;
    padding-top: 8em;
    padding-bottom: 8em;
}

.body-start {
    padding-top: 70px;
}

h1, h2, h3 {
    font-weight: 300;
}

.title {
    font-family: "Just Another Hand";
    font-size: 80px;
}

.info {
    font-size: 20px;
    width: 40%;
    margin: auto;
}

.navbar-brand {
    font-weight: 300;
}

.follow-trail {
    margin-left: auto;
    margin-right: auto;
    width: 10em;
    height: 10em;
    border-radius: 50%;
    color: #FCFFF5;
    background-color: #3E606F;
}

.follow-trail h3 {
    padding-top: 40%;
}

.follow-trail:hover {
    background-color: #91AA9D;
    cursor: pointer;
    box-shadow:
        inset 0 0 0 110px rgba(62,96,111, 0.4),
        inset 0 0 0 16px rgba(209, 219, 189, 0.9),
        0 1px 2px rgba(0,0,0,0.1);
}

.follow-trail-info {
    border-radius: 50%;
    opacity: 0;
    transition: all 0.4s ease-in-out;
    transform: scale(0);
}

.follow-trail:hover .follow-trail-info {
    opacity: 1;
    transform: scale(1);
}

.fa-circle-thin:hover {
    color: #91AA9D;
}

@media (max-width: 760px) {
    body {
        font-size: 14px;
    }
    .body-start {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .header {
        padding-top: 3em;
        padding-bottom: 5em;
    }

    .follow-trail {
        width: 8em;
        height: 8em;
    }

    .follow-trail p {
        padding-top: 3.5em;
    }

    .follow-trail:hover {
        box-shadow:
                inset 0 0 0 55px rgba(62,96,111, 0.4),
                inset 0 0 0 4px rgba(209, 219, 189, 0.9),
                0 1px 2px rgba(0,0,0,0.1);
    }

    .col-sm-4 {
        margin: 1em;
    }
}
