<link rel="stylesheet" href="css/login.css">

<div class="container-fluid text-center header">
	<h1 class="title">breadcrumbs</h1>
	<p>
		<i class="fa fa-circle-thin"></i>
		<i class="fa fa-circle-thin"></i>
		<i class="fa fa-circle-thin"></i>
	</p>
	<p class="info">
		beautiful data visualizations based off your
		interactions on Instagram.
	</p>
</div>

<div class="container text-center body-start">
	<h2>follow the trail</h2>
	<br>
	<div class='follow-trail' ng-click="login()">
		<h3>login</h3>
		<div class="follow-trail-info"></div>
	</div>
</div>