<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" ng-click="isCollapsed = !isCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="login()">breadcrumbs</a>
        </div>
        <div id="navbar" class="navbar-collapse" uib-collapse="isCollapsed">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">home</a></li>
                <li><a ui-sref="privacy()">privacy policy</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><img ng-src="{{currentUser.profPic}}" alt="navbar profile pic" id="navbar-user-pic" class="img img-responsive img-circle"></li>

                <li><a href="https://www.instagram.com/accounts/logout" ng-click="logout()">{{currentUser.name}} (click to sign out)</a></li>
            </ul>
        </div>
    </div>
</nav>

<div id="logout"></div>

<div class="body-start container text-center">
    <h1>Welcome {{currentUser.name}}</h1>
    <img ng-src="{{currentUser.profPic}}" alt="profile picture" class="img img-responsive img-circle">

    <ul class="vis-options options nav nav-tabs nav-justified">
        <li role="presentation" ui-sref-active="active"><a ui-sref="main.photos()">Photos</a></li>
        <li role="presentation" ui-sref-active="active"><a ui-sref="main.trends()">Trends</a></li>
        <li role="presentation" ui-sref-active="active"><a ui-sref="main.vince()">Vincent's</a></li>
        <li role="presentation" ui-sref-active="active"><a ui-sref="main.jonathan()">Jonathan's</a></li>
    </ul>

    <div ui-view></div>
</div>