<h2>When is your prime-time?</h2>
<canvas
	class="chart chart-line" 
	chart-data="likesData"
 	chart-labels="likesLabels" 
 	chart-legend="true" 
 	chart-series="likesSeries"
	chart-options="options" 
></canvas> 

<hr>

<h2>Filter for success?</h2>
<canvas
	id="bar" 
	class="chart chart-bar"
	chart-data="filterData"
 	chart-labels="filterLabels" 
 	chart-legend="true" 
 	chart-series="filterSeries"
	chart-options="options" 
></canvas> 

<hr>

<h2>Where the likes at?</h2>
<canvas 
	id="locationVsLikes" 
	class="chart chart-bar" 
	chart-data="locationData" 
	chart-labels="locationLabels" 
	chart-legend="true" 
	chart-series="locationSeries" 
	chart-options="options" 
></canvas>
